<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Hello MUI</title>
	<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">

	<link rel="stylesheet" href="css/mui.min.css">
	<link rel="stylesheet" href="css/base.css" />
	<!--<script src="js/vue.min.js"></script>-->
</head>

<body>
	<header class="mui-bar mui-bar-nav">
		<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
		<h1 class="mui-title">首页</h1>
	</header>
	
	<div id="page" class="mui-content">
		<input type="text" id="a" />
		<span id="b">{{test}}</span>
		<!--<div id="slider" class="mui-slider mui-fullscreen">
			<div id="sliderSegmentedControl" class="mui-scroll-wrapper mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
				<div class="mui-scroll">
					<template v-for="a in tab">
						<a class="mui-control-item" v-text="a.cat_name" v-bind:href="'#' + a.id"></a>
					</template>
				</div>
			</div>
			<div class="mui-slider-group" v-complate="tab">
				<template v-for="a in tab">
					<div v-bind:id="a.type" class="mui-slider-item mui-control-content" style="height:500px;">
						<div id="scroll1" class="mui-scroll-wrapper">
							<div class="mui-scroll">
								<ul class="mui-table-view mui-grid-view mui-grid-9 glist">
									<template v-for="g in a.goods">
										<li class="mui-table-view-cell mui-media mui-col-xs-6 mui-col-sm-6" data-type="goods">
											<a href="">
												<img id="" src="../img/60x60.gif" alt="" />
											</a>
											<p class="title" v-text="g.goods_name">商品名称</p>
											<p>拼团省0.00元<span class="mui-pull-right">已团购2.7万件</span></p>
											<p class="price" v-text="g.price"> 0.00</p>
										</li>
									</template>
								</ul>
							</div>
						</div>
					</div>
				</template>
			</div>
		</div>-->
		
		<navbar :nav="nav"></navbar>
	</div>
	<script type="text/x-template" id="nav-tpl">
		<nav class="mui-bar mui-bar-tab">
			<template v-for="a in nav">
				<a id="index" class="mui-tab-item mui-active" href="#tabbar">
					<span class="mui-icon mui-icon-home"></span>
					<span class="mui-tab-label" v-text="a.label">首页</span>
				</a>
			</template>
		</nav>
	</script>
	<script src="js/sea.js"></script>
	<!--<script src="js/mui.js"></script>-->
	<script>
	/*mui('.mui-scroll-wrapper').scroll({
		scrollX: false,
		scrollY:true,
 		deceleration:0.0006, 
	});*/
	seajs.config({
 		alias:{
 			'main': '../main',
 			'vue': '../vue',
 			'ajax': '../model/ajax',
 			'base': '../tool/base',
 			'vue': '../tool/vue',
 			'class': '../model/class',
 			'model': '../model/model',
 			'mui': '../mui'
 		},
 		paths: {
		    'mod'	: 	'./js/model',
		    'm'		: 	'./js/m',
		    'vm'	:	'./js/vm',
		    'tpl'	:	'./js/tpl',
		    'obj'	:	'./js/obj'
		}
 	});
 	seajs.use('m/index');
 	//seajs.use('vm/index');
 	//seajs.use('mui');
	</script>
	<!--<script src="js/mui.min.js"></script>
	<script src="js/mui.pullToRefresh.js"></script>
	<script src="js/mui.pullToRefresh.material.js"></script>
	<script src="js/main.js"></script>
	<script src="js/ajax.js"></script>-->
	<!--<script>
	var tab={
		0: {
			lable: '全部',
			status: 100,
			type: 'all'
		},
		1: {
			lable: '待付款',
			status: 1,
			type: 'pay'
		},
		2: {
			lable: '待收货',
			status: 3,
			type: 'receipt'
		},
		3: {
			lable: '待评价',
			status: 4,
			type: 'evaluate'
		}
	}
	var tabs = new Vue({
  		el: '#slider',
  		data: {
    		tab: {
    			test: {
					type: 'hh'
				},
				ad: {
					type: 'ad'
				}
    		}
  		}
	})
	tabs.tab=tab
	$.post(base.url+'category/show',{},function(data){
		console.log(data)
		tabs.tab=data;
	},'json')
	</script>
	<script>
		mui.init();
		(function($) {
			//阻尼系数
			/*var deceleration = mui.os.ios?0.003:0.0009;
			$('.mui-scroll-wrapper').scroll({
				bounce: false,
				indicators: true, //是否显示滚动条
				deceleration:deceleration
			});*/
			mui.ready(function() {
				//循环初始化所有下拉刷新，上拉加载。
				mui.each(document.querySelectorAll('.mui-slider-group .mui-scroll'), function(index, pullRefreshEl) {
					mui(pullRefreshEl).pullToRefresh({
						down: {
							callback: function() {
								var self = this;
								console.log([index, pullRefreshEl])
								self.endPullDownToRefresh();
							}
						},
						up: {
							callback: function() {
								var self = this;
								self.endPullUpToRefresh();
							}
						}
					});
				});
			});
			
		})(mui);
	</script>-->
</body>

</html>